# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# Настройки секретного ключа проекта django в config/settings.py
SECRET_KEY_FOR_PROJECT=secret_key_here    #Django рекомендует в целях безопасности хранить секретный ключ, используемый в продакшене, в тайне!

# Настройки дебага. В settings.py дебаг должен быть описан так: DEBUG = True if os.getenv('DEBUG') == 'True' else False
DEBUG=

# Настройки БД проекта django в config/settings.py
DATABASE_SKYSTORE=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

# Настройка SMTP-сервера Яндекса для отправки уведомлений пользователям магазина по почте:
YANDEX_EMAIL_HOST_USER=''
YANDEX_EMAIL_HOST_PASSWORD=''

# Данные почты и устанавливаемого пароля для создания Администратора с помощью кастомной команды:
ADMIN_EMAIL=''
ADMIN_PASSWORD=''

# Данные Redis-сервера и используемого порта
REDIS_URL=