{% extends 'catalog/base.html' %}
{% block title %}Skystore: Добавление товара{% endblock %}

{% block content %}
<!--Блок с базовым описанием сути страницы-->
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4 mb-5">Добавьте свой продукт в каталог Skystore</h1>
</div>

<div class="container">
    <div class="row text-start">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card-body">
                <!-- Отображение формы ProductForm(forms.ModelForm) для добавления пользователем нового товара-->
                <form method="post" enctype="multipart/form-data" class="form-floating">
                    {% csrf_token %}
                    <div class="form-group mb-4">
                        <label for="product_name"><strong>{{ form.product_name.label }}</strong></label>
                        <div>
                            {{ form.product_name }}
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="description"><strong>{{ form.description.label }}</strong></label>
                        <div>
                            {{ form.description }}
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="price"><strong>{{ form.price.label }}</strong></label>
                        <div>
                            {{ form.price }}
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="image"><strong>{{ form.image.label }}</strong></label>
                        <div>
                            {{ form.image }}
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="category"><strong>{{ form.category.label }}</strong></label>
                        <div>
                            {{ form.category }}
                        </div>
                    </div>
                    <!-- Кнопки -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-lg btn-outline-danger mt-4">Отправить</button>
                    </div>
                    <a href="{% url 'catalog:home_page' %}" class="btn btn-lg btn-primary">Назад</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}