<!-- Подшаблон с меню (верхняя часть с навигацией) -->
<div class="d-flex justify-content-between align-items-center p-3 px-md-4 mb-5 bg-white border-bottom box-shadow">

    <!-- Логотип магазина и кнопки навигации по разделам магазина -->
    <div class="d-flex align-items-center">
        <h5 class="my-0 mr-md-auto font-weight-normal">Skystore</h5>
        <!--Кнопки навигации по разделам магазина -->
        <nav class="ms-5">
            <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:home_page' %}">Каталог</a>
            <a class="p-2 btn btn-outline-primary" href="{% url 'blog:blog_page' %}">Блог</a>
            <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:contacts_page' %}">Контакты</a>
            <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:category_products_page' %}">Категории</a>
            {% if perms.catalog.can_change_product_publication %}
            <a class="p-2 btn btn-outline-secondary position-relative" href="{% url 'catalog:unpublished_products_page' %}">
                Неопубликованные продукты
                {% if unpublished_count > 0 %}
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{ unpublished_count }}
                </span>
                {% endif %}
            </a>
            {% endif %}
        </nav>
    </div>

    <!-- Блок с меню аутентификации (аватарка, регистрация, войти, выйти)-->
    <nav class="ms-5">
        {% if user.is_authenticated %}
        <div class="dropdown">
            <a class="avatar-link dropdown-toggle" href="#" role="button" id="dropdownMenuButton"
               title="Посмотреть профиль"
               data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{% if user.avatar and user.avatar.name %}{{ user.avatar.url }}{% else %}/static/images/default_avatar.png{% endif %}"
                     alt="Аватар"
                     class="user-avatar">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                <li><span class="dropdown-item-text">{{ user.email }}</span></li>
                <li><a class="dropdown-item" href="{% url 'users:edit_profile' %}">Редактировать профиль</a></li>
                <li><a class="dropdown-item" href="{% url 'users:change_password' %}">Изменить пароль</a></li>
                <li>
                    <form method="post" action="{% url 'users:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item">Выйти</button>
                    </form>
                </li>
            </ul>
        </div>
        {% else %}
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}">Войти</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:register' %}">Регистрация</a>
        {% endif %}
    </nav>

</div>